<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <h1>Web-сервис обмена сообщениями</h1>
    <ul>
        <li><a href="/send">Отправить сообщение (Первый клиент)</a></li>
        <li><a href="/realtime">Просмотр сообщений в реальном времени (Второй клиент)</a></li>
        <li><a href="/history">История сообщений (Третий клиент)</a></li>
        <li><a href="/swagger/index.html">Swagger-документация</a></li>
    </ul>
</body>
</html>
